body {
  margin: 0;
  padding: 0;
  background: #111;
  overflow-x: hidden;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

#bg-video,
#video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#video-overlay {
  background-color: rgba(0, 0, 0, 0.9);
}

#nav {
  /* border: 5px solid; */
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 10px;
}

#nav>div{
 
  height: 35px;
  /* border: 2px solid red; */
}
#nav>div>img{
  width: 30%;
  height: 100%;
 
}


.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 374px;
  height: 174px;
  margin: 20px auto 0;
  background-color: black;
}

.golden-border-wrapper {
  padding: 7px;
  padding-bottom: 4px;
  border-radius: 25px;
  background: linear-gradient(145deg, #000, #ffd700, #594b00, #ffd700, #000);
}

#upper_video {
  border-radius: 20px;
  width: 374px;
  height: 174px;
  object-fit: cover;
}

#main_section {
  text-align: center;
  margin-top: 30px;
}

.come {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 14px;
  letter-spacing: 15px;
  font-weight: 400;
  margin-top: 50px;
}

.dis {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 13px;
  color: #424242;
  padding: 15px;
}

.bottom_text {
  margin: auto;
  width: 570px;
  font-family: "Royal Exquisite", serif;
  font-size: 100px;
  font-weight: 400;
  text-align: center;
  background: linear-gradient(
    90deg,
    #221d00,
    #ffd700,
    #594b00,
    #ffd700,
    #6e5500
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.onsonic {
  width: 284px;
  height: 50px;
  margin-top: 20px;
}

.star {
  width: 200px;
  margin-bottom: 50px;
}

.bottom-ticker {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  padding: 20px;
  background: rgba(30, 30, 47, 0.4);
  backdrop-filter: blur(20px);
  border-radius: 35px 35px 0 0;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  overflow: hidden;
}

.ticker-wrapper {
  width: 100%;
  overflow: hidden;
  mask-image: linear-gradient(
    90deg,
    transparent 0.5%,
    white 2%,
    white 98%,
    transparent 99.5%
  );
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent 0.5%,
    white 2%,
    white 98%,
    transparent 99.5%
  );
  cursor: pointer;
  height: 18px;
}

.ticker-content {
  display: inline-block;
  white-space: nowrap;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  will-change: transform;
}

.ticker-content span {
  margin-left: 20px;
}

.gold-dot {
  color: gold;
  font-size: 20px;
  vertical-align: middle;
  margin-left: 8px;
}

@media (max-width: 480px) {
  #nav{
    /* width: 50%; */
    width: 85%;
    margin-top: 20px;

  }

  #brand_logo{
    width: 50px;
  
  }
  #brand_logo_2{
    width: 170px;
    /* border: 2px solid red; */
  }

  #nav>div{
 position: absolute;
 top: 88%;
 left: 35%;

display: flex;
justify-content: center;
height: 35px;

  /* border: 2px solid red; */
}
  


  .bottom_text {
    font-size: 56px;
    width: 340px;
  }

  .onsonic {
    width: 280px;
    height: 35px;
    margin-top: 10px;
  }

  .star {
    margin-top: 0px;
    width: 200px;
  }

  .come {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .video-container {
    margin-top: 50px;
    width: 260px;
    background-color: transparent;
  }

  .golden-border-wrapper {
    padding: 5px;
    border-radius: 20px;
  }

  #upper_video {
    width: 260px;
    height: 130px;
  }

  #content,
  #gold {
    display: none;
  }
  .bottom-ticker {
    width: 85%;
  }

  .ticker-wrapper {
    height: 14px;
  }
}

@media (min-width: 1800px) and (max-width: 2100px) {
  .bottom_text {
    font-size: 140px;
    width: 1000px;
  }

  .dis {
    font-size: 15px;
  }
}
